@import "compass";

/* reset css */
body {
  margin: 0;
  color: #666;
  font: 14px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #e1edf4 image-url("bg-body.png") repeat-x;
  min-width: 982px;
}

img {
  border-style: none;
}

a {
  text-decoration:none;
  color: #3d88b5;
  &:hover {
    text-decoration: underline;
  }
}

input, textarea, select {
  font: 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

textarea, input[type="text"] {
  margin: 0 0 8px;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  padding: 7px 8px;
  border: 1px #bcbcbc solid;
  @include border-radius(4px);
  @include box-shadow(0 3px 3px rgba(0,0,0,0.06) inset);
  color: #333;
}

textarea{
  width: auto;
  height: 81px;
  overflow: auto;
}

.input-text {
  width:568px;
}

.input-text2 {
  width:264px;
}

.input-text3 {
  width:104px;
}

textarea.focus, input[type="text"].focus {
  border-color: #3d88b5;
  @include box-shadow(0 0 5px #3d88b5, 0 3px 3px rgba(0,0,0,0.06) inset);
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

// Header
#header {
  z-index: 900;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px #9fafb8 solid;
  @include box-shadow(0 3px 3px rgba(0,0,0,0.06));
  height: 79px;
  background-color: #f3f3f3;
  @include background-image(linear-gradient(bottom, rgb(242,242,242) 3%, rgb(244,244,244) 25%, rgb(247,247,247) 50%, rgb(249,249,249) 75%, rgb(252,252,252) 100%));

  // Header Logo
  .logo {
    margin: 0;
    position: absolute;
    top: 8px;
    left: 21px;
    width: 221px;
    height: 60px;
    background: image-url("logo.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;

    a {
      display: block;
      height: 100%;
    }
  }
}

.header-holder {
  margin: 0 auto;
  width: 982px;
  position: relative;
}

// Main Navigation
#nav {
  position: absolute;
  top: 43px;
  right: 86px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  li {
    margin-left: 13px;
    padding-left: 16px;
    background: image-url("bullet.png") no-repeat 0 8px;
    float: left;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      background: none;
    }
  }

  span {
    float: left;
    padding-bottom: 24px;
  }

  a {
    color: #838383;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    a {
      font-weight: bold;
      text-decoration: none;
    }

    span {
      background: image-url("arrow-nav.png") no-repeat 50% 25px;
    }
  }
}

// Login/Logout Box
#login-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1px;

  &:hover {
    .drop {
      display: block;
    }
  }

  .opener {
    float: left;
    padding: 0 7px 0 13px;
    font: bold 12px/25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    background: #9ac4dc;
    cursor: pointer;
    @include border-bottom-left-radius(3px);
    @include border-bottom-right-radius(3px);

    span {
      float: left;
      height: 25px;
      padding-right: 18px;
      background: image-url("arrow01.png") no-repeat 100% 11px;
    }

    &:hover {
      background:#5e98bb;
      text-decoration:none;
    }
  }

  .drop {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 10;
    display: none;
    overflow: hidden;

    ul {
      height: 1%;
      overflow: hidden;
      padding: 1px 0 0;
      margin: 0;
      list-style: none;
      font-weight: normal;

      li {
        font-size: 0;
        line-height: 0;
        margin-top: -1px;

        &:first-child a {
          @include border-top-left-radius(3px);
          @include border-top-right-radius(3px);
        }

        .bottom a {
          @include border-bottom-left-radius(3px);
          @include border-bottom-right-radius(3px);
        }
      }

      a {
        float: none;
        display: block;
        height: 1%;
        font: bold 12px/15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding: 5px 5px 5px 10px;
        background: #9ac4dc;
        color: #fff;
        border: 1px #fff solid;

        &:hover {
          background:#5e98bb;
          text-decoration:none;
        }
      }
    }
  }
}

// Main content
#main {
  margin: 0 auto;
  padding-bottom: 24px;
  width: 982px;
}

.page-container {
  margin-top: 24px;
  background-color: #f3f3f3;
  @include background-image(linear-gradient(bottom, rgb(242,242,242) 3%, rgb(244,244,244) 25%, rgb(247,247,247) 50%, rgb(249,249,249) 75%, rgb(252,252,252) 100%));
  padding: 20px 40px;
}

// Cluster Block
.cluster-holder {
  padding: 29px 0 9px;
}

.cluster-block {
  position: relative;
  border: 1px #b8c5ce solid;
  @include border-radius(4px);
  background-color: #fff;
  @include background-image(linear-gradient(bottom, rgb(250,250,250) 1%, rgb(252,252,252) 50%, rgb(255,255,255) 99%));
  @include box-shadow(2px 2px 2px rgba(0,0,0,0.08));

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  // Cluster Heading
  .heading {
    margin:-1px -1px 0;
    padding:7px 20px 8px 10px;
    height:1%;
    position:relative;
    background-color:#3579a3;
    @include background-image(linear-gradient(bottom, rgb(32,109,153) 1%, rgb(44,117,159) 25%, rgb(55,122,164) 50%, rgb(58,130,174) 75%, rgb(60,134,180) 99%));
    font:bold 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#bbd7e8;
    border:1px #d4d4d4 solid;
    border-bottom-color:#8caabc;
    @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);

    a {
      color:#bbd7e8;
    }

    h2 {
      margin: 0;
      font: 36px/40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #fff;
      float: left;
    }

    .holder {
      padding-left: 36px;
      background: image-url("bg-heading.png") no-repeat 0 9px;
      min-height: 40px;
    }

    .info {
      margin: 12px 0 10px;
      padding: 0;
      list-style: none;
      float: right;
      font-weight: 700;

      li {
        margin-left: 4px;
        padding-left: 7px;
        float: left;
        background: image-url("bullet03.png") no-repeat 0 9px;

        &:first-child {
          background: none;
        }
      }
    }

    .region {
      margin: 12px 0 10px 15px;
      padding-left: 15px;
      font-weight: 700;
      background: image-url("bullet03.png") no-repeat 0 9px;
      float: left;
    }
  }

  // Add Cluster Button
  .btn-add {
    position: absolute;
    top: -29px;
    right: 22px;
    padding-bottom: 8px;
    background: image-url("none.gif");

    a {
      font: 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      height: 22px;
      color: #999;
      border: 1px #bbc1c4 solid;
      @include border-radius(4px);
      background-color: #f9f9f9;
      @include background-image(linear-gradient(bottom, rgb(242,242,242) 1%, rgb(249,249,249) 50%, rgb(255,255,255) 99%));
      float: left;
      cursor: pointer;

      span {
        padding: 0 5px 0 26px;
        height: 22px;
        float: left;
        background: image-url("ico-plus.png") no-repeat;
        @include border-top-left-radius(4px);
        @include border-bottom-left-radius(4px);
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.cluster-content {
  padding: 26px 19px 0;
  height: 1%;
  overflow: hidden;
}

.cluster-row {
  width: 100%;
  padding-bottom: 15px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Cluster Title
.cluster-title {
  margin-bottom:8px;
  width:100%;
  overflow:hidden;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  h3 {
    margin: 0;
    float: left;
    font: 30px/36px 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
  }

  .sep-l {
    float: left;
    height: 36px;
    width: 84px;
    background: image-url("separator01.png") repeat-x 0 21px;
  }

  .sep-r {
    display: block;
    height: 1%;
    min-height: 36px;
    background: image-url("separator01.png") repeat-x 0 21px;
    overflow: hidden;
  }

  .holder {
    padding: 0 15px 0 8px;
    float: left;
  }

  .link-add {
    margin: 11px 0 0 9px;
    width: 17px;
    height: 17px;
    float: left;
    text-indent: -9999px;
    background: #ededed image-url("ico2-plus.png") no-repeat 4px 4px;
    border: 1px #d8d8d8 solid;
    @include border-radius(3px);
    @include box-shadow(0 1px 1px rgba(0,0,0,0.06));
    overflow: hidden;

    &:hover {
      background:#77b642 image-url("ico3-plus.png") no-repeat 4px 4px;
    }
  }
}

.blue-row .cluster-title .sep-l,
.blue-row .cluster-title .sep-r {
  background:image-url("separator04.png") repeat-x 0 21px;
}

.green-row .cluster-title .sep-l,
.green-row .cluster-title .sep-l {
  background:image-url("separator05.png") repeat-x 0 21px;
}

.blue-row .cluster-title .sep-l {
  width:70px;
}

.green-row .cluster-title .sep-l {
  width:48px;
}

.blue-row .cluster-title h3 {
  color:#1a779c;
}

.green-row .cluster-title h3 {
  color:#5f8c1a;
}

/* cluster box */
.cluster-block .box-holder{
  margin-left:-17px;
  width:959px;
}

.blue-row .cluster-box .box-content,
.green-row .cluster-box .box-content{
  padding-left:12px;
  width:280px;
}

.cluster-box {
  margin:0 0 18px 17px;
  float:left;
  padding-top:24px;
  width:302px;
  position:relative;

  .box {
    width:300px;
    display:block;
    z-index:100;
    background:#edf3f6 image-url("bg-cluster-box.png") repeat-x;
    border:1px solid #d4d4d4;
    position:relative;
    @include border-bottom-left-radius(4px);
    @include border-bottom-right-radius(4px);
    @include box-shadow(1px 1px 2px rgba(0,0,0,0.1), 1px 1px 2px rgba(0,0,0,0.07) inset);
    outline:none;
    min-height:84px;

    &:hover {
      border-color: #b3cddc;
      @include box-shadow(0 0 4px #b3cddc);
      text-decoration: none;

      .arrow {
        background-position: 0 0;
      }
    }

    .arrow {
      position: absolute;
      left: 121px;
      top: -24px;
      width: 58px;
      height: 27px;
      text-indent: -9999px;
      background: image-url("bg-arrow-cluster-box.png") no-repeat 0 -30px;
      overflow: hidden;
    }
  }

  .btn {
    position:absolute;
    top:3px;
    right:45px;
    z-index:110;
    padding:0 13px;
    font-size:11px;
    line-height:20px;
    background-color: #fafafa;
    @include background-image(linear-gradient(bottom, rgb(244,244,244) 1%, rgb(251,251,251) 50%, rgb(255,255,255) 99%));
    border:1px #dadada solid;
    border-width:1px 1px 0;
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);
    color:#999;
    outline:none;

    &:hover {
      border-color:#b3cddc;
      @include box-shadow(0 0 4px #b3cddc);
      color:#3579a3;
      text-decoration:underline;
    }
  }

  .box-content {
    display:block;
    padding:5px 8px 3px 7px;
    width:285px;

    &:after {
      content:'';
      display:block;
      clear:both;
    }
  }

  // Cluster item status colors
  .status {
    margin-top: -10px;
    padding-top: 21px;
    display: block;
    text-align: center;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #838383;
    text-transform: uppercase;
    overflow: hidden;

    &.green {
      background: image-url("bg-status-green.png") no-repeat 50% 0;
    }
    &.yellow {
      background: image-url("bg-status-yellow.png") no-repeat 50% 0;
    }
    &.red {
      background: image-url("bg-status-red.png") no-repeat 50% 0;
    }

    span {
      display: block;
      background: image-url("separator02.png") repeat-x 0 8px;

      span {
        display: inline-block;
        padding: 0 8px;
        background: image-url("separator03.png") repeat-x 0 8px;

        span.sha {
          text-transform: lowercase;
        }
      }
    }
  }

  // Machine CPU/RAM
  .cpu-ram {
    margin: -7px 0 0;
    float: right;
    position: relative;
    width: 52px;
    font-size: 10px;
    line-height: 12px;

    &.unavailable {
      .error {
        display: block;
      }

      .num {
        height:12px;
        text-indent:-9999px;
        overflow:hidden;
      }

      .meter-00-percent,
      .meter-10-percent,
      .meter-20-percent,
      .meter-30-percent,
      .meter-40-percent,
      .meter-50-percent,
      .meter-60-percent,
      .meter-70-percent,
      .meter-80-percent,
      .meter-90-percent,
      .meter-100-percent {
        background-position: -220px 0 !important;
      }
    }

    .error {
      position: absolute;
      left: -10px;
      top: 19px;
      width: 72px;
      text-align: center;
      color: #ccc;
      display: none;
    }

    .col {
      width: 26px;
      text-align: center;
      float: left;
      color: #999;
      text-transform: uppercase;
    }

    .num {
      display: block;
      font-weight: bold;
    }

    .label {
      display: block;
    }

    .meter-00-percent,
    .meter-10-percent,
    .meter-20-percent,
    .meter-30-percent,
    .meter-40-percent,
    .meter-50-percent,
    .meter-60-percent,
    .meter-70-percent,
    .meter-80-percent,
    .meter-90-percent,
    .meter-100-percent {
      display: block;
      margin: 0 0 1px 8px;
      width: 10px;
      height: 29px;
      background: image-url("bg-cpu-ram.png") no-repeat;
      position: relative;
      overflow: hidden;
    }

    .meter-10-percent {
      background-position: -20px 0;
    }
    .meter-20-percent {
      background-position: -40px 0;
    }
    .meter-30-percent {
      background-position: -60px 0;
    }
    .meter-40-percent {
      background-position: -80px 0;
    }
    .meter-50-percent {
      background-position: -100px 0;
    }
    .meter-60-percent {
      background-position: -120px 0;
    }
    .meter-70-percent {
      background-position: -140px 0;
    }
    .meter-80-percent {
      background-position: -160px 0;
    }
    .meter-90-percent {
      background-position: -180px 0;
    }
    .meter-100-percent {
      background-position: -200px 0;
    }
  }

  // Cluster Box Info
  .info {
    display: block;
    min-height: 47px;
  }

  .num-title {
    display: block;
    font: 17px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
  }

  .num-subtitle {
    display: block;
    font: 12px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #838383;
  }

  .name {
    display: block;
    font: bold 13px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3579a3;
    text-transform: uppercase;
  }

  .categories {
    padding-top: 4px;
    display: block;
    width: 100%;
    overflow: hidden;

    span {
      margin: 0 1px 4px 0;
      padding: 0 2px;
      float: left;
      background: #d8dfe2;
      border: 1px #c7cdd1 solid;
      @include border-radius(1px);
      color: #666;
      font-size: 11px;
      line-height: 12px;
      height: 12px;
    }
  }

  .title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #1c7da1;
  }

  .text, .text-server {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #838383;
    width: 280px;
    overflow: hidden;
  }

  .text-server {
    white-space: nowrap;
    margin-right: -5px;
    width: 285px;
    position: relative;
  }

  .tools {
    display: block;
    margin-right: -10px;
    width: 290px;
    font-size: 12px;
    line-height: 14px;
    color: #5f8c1a;
    overflow: hidden;

    .num {
      margin:0 4px 2px 0;
      float:left;
      padding:0 4px;
      color:#fff;
      font-weight:bold;
      background:#5f8c1a;
      font-style:normal;
      @include border-radius(3px);
    }

    .label {
      margin:0 10px 2px 0;
      float:left;
    }
  }
}

.green-row .cluster-box .title {
  color: #5a8618;
}

// Footer
#footer {
  width: 100%;
  color: #bcbcbc;
  overflow: hidden;

  a {
    color: #bcbcbc;
  }

  p {
    margin: 0;
    display: inline;
  }

  .logo {
    margin-right: 20px;
    float: left;
    width: 221px;
    height: 60px;
    text-indent: -9999px;
    background: image-url("logo-footer.png") no-repeat;
    overflow: hidden;

    a {
      display: block;
      height: 100%;
    }
  }

  .info {
    padding-top: 26px;
    float: right;
    vertical-align: top;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;

    li {
      display: inline;
      padding-left: 11px;
      background: image-url("bullet02.png") no-repeat 0 8px;
    }
  }
}

.footer-holder{
  margin: 0 auto;
  width: 940px;
  border: 1px #cdd3d7 solid;
  border-width: 1px 1px 0;
  padding: 10px 20px 13px;
  background-color: #f1f1f1;
  @include background-image(linear-gradient(bottom, rgb(239,239,239) 1%, rgb(240,240,240) 25%, rgb(241,241,241) 50%, rgb(242,242,242) 75%, rgb(242,242,242) 100%));
  @include border-top-left-radius(4px);
  @include border-top-right-radius(4px);
  overflow: hidden;
}

// Lightbox
.lightbox-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: image-url("modal/spinner.gif") #111 no-repeat center center;
  @include border-radius(8px);
}

.lightbox {
  z-index:995 !important;
  display: none;
  width:660px;
  background: #fff;
  @include border-radius(10px);
  @include box-shadow(0 0 9px rgba(0,0,0,0.9));

  h3 {
    margin:0;
    font:bold 24px/30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#333;
  }

  p {
    margin:0 0 9px;
  }

  label {
    padding:0 0 3px 2px;
    display:block;
    font:bold 14px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#333;

    span {
      font-weight:normal;
      color:#666;
    }
  }

  a.close-modal {
    position: absolute;
    top: -9px;
    right: -16px;
    width:30px;
    height:30px;
    text-indent: -9999px;
    background:image-url("btn-close.png") no-repeat;
    overflow:hidden;
    outline:none;
  }

  .heading {
    margin-bottom:12px;
    padding:12px;
    width:636px;
    border-bottom:1px #d4d4d4 solid;
    @include box-shadow(0 2px 2px rgba(0,0,0,0.05));
    background-color:#e5e5e5;
    @include background-image(linear-gradient(bottom, rgb(226,226,226) 1%, rgb(229,229,229) 50%, rgb(244,244,244) 99%));
    text-align:center;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    overflow:hidden;
  }

  .box-content {
    padding:0 19px 18px 20px;
    width:621px;
  }

  .box-holder {
    margin-bottom:20px;
    padding:19px 16px 10px 17px;
    border:1px #d4d4d4 solid;
    width:586px;
    background:#f1f1f1;
    @include border-radius(8px);
    @include box-shadow(0 3px 3px rgba(0,0,0,0.06));
    overflow:hidden;
  }

  // Lightbox form
  .form-holder {
    padding-bottom:112px;
  }

  .row {
    padding-bottom:27px;
    width:100%;

    &:after {
      content:'';
      display:block;
      clear:both;
    }
  }

  .row2 {
    padding-bottom:19px;
  }
}

.lightbox textarea{width:568px !important;}
.lightbox .row .hold,
.lightbox .row .hold2{
  padding:0 11px 6px;
  height:1%;
  overflow:hidden;
}
.lightbox .row .hold2{padding-top:12px;}
.lightbox select{width:225px;}
/* lightbox table */
.lightbox .infocolumns{
  border-top:1px #e2e2e2 solid;
  margin:0 -16px 0 -17px;
  padding:37px 17px 10px 19px;
  width:583px;
  position:relative;
  overflow:hidden;
}
.info-table {
  margin: 0 0 35px;
  padding: 0;
  border-collapse: collapse;
  width: 100%;

  th {
    font: bold 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0 3px 1px 0;
    text-align: left;
    border-bottom: 1px #999 solid;
  }

  td {
    padding: 6px 3px 10px 0;
    text-align: left;
    line-height: 17px;
  }
}

#wrapper .info-table p,
.lightbox .info-table p{margin:0;}
/* lightbox buttons */
.lightbox .actions{
  width:100%;
  padding-bottom:10px;
  overflow:hidden;
}
.button-blue,
.button,
.button-gray{
  margin:0;
  vertical-align:top;
  display:inline-block;
  padding:0 14px;
  font:bold 16px/32px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#fff;
  height:32px;
  background:#3d88b5;
  border:1px #d4d4d4 solid;
  @include border-radius(5px);
  @include box-shadow(0 2px 2px rgba(0,0,0,0.04));
}
.button{
  background:#d4d4d4;
  border-color:#adadad;
  color:#333;
}
.button-gray{
  background:#f1f1f1;
  border-color:#d4d4d4;
  color:#999;
}
.button-blue:hover,
.button:hover,
.button-gray:hover{text-decoration:none;}
input.button-blue,
input.button,
input.button-gray{
  line-height:34px;
  height:34px;
  cursor:pointer;
}
.lightbox .actions .button-blue,
.lightbox .actions .button,
.lightbox .actions .button-gray{margin:0 15px 0 0;}
/* custom forms - hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important;
}
/* custom checkbox styles */
.chk-area {
  margin: 0 11px 0 0;
  float: left;
  width: 16px;
  height: 17px;
  background:image-url("sprites.png") no-repeat 0 -23px;
  overflow:hidden;
}
.chk-checked {background-position:-54px -23px;}
.chk-checked.chk-disabled {background-position:-27px -23px;}
/* custom radio styles */
.rad-area {
  margin: 0 11px 0 0;
  float: left;
  width: 16px;
  height: 17px;
  background:image-url("sprites.png") no-repeat;
  overflow:hidden;
}
.rad-checked {background-position:-54px 0;}
.rad-checked.rad-disabled {background-position:-27px 0;}
/* custom select styles */
.select-area {
  border: 1px solid #cacaca;
  position: relative;
  height: 34px;
  background: image-url("bg-select.png") repeat-x;
  font: bold 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #505050;
  float: left;
  overflow: hidden;

  .center {
    float: left;
    padding: 9px 10px;
    white-space: nowrap;
  }

  .select-opener {
    position: absolute;
    top: 0;
    right: 0;
    background: image-url("bg-select.png") no-repeat 0 -40px;
    float: right;
    height: 34px;
    width: 35px;
    cursor: pointer;
  }
}

.select-options {
  border: 1px solid #cacaca;
  position: absolute;
  overflow: hidden;
  z-index:999;
  background: #f2f2f2;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      float: left;

    }
    a {
      padding: 5px 10px;
      display: block;
      font:12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #505050;
      height: 1%;

      &:hover {
        text-decoration: none;
        background: #555;
        color: #fff;
      }
    }
  }

  .item-selected a {
    text-decoration: none;
    background: #555;
    color: #fff;
  }
}
